:root {
	// --padding-inline-mobile: 1rem;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.content-width {
	background: yellow;
	border: 3px solid red;
	padding-inline: var(--padding-inline-mobile);
}

.fancy-text {
	&__subheading {
		font-weight: 600;
		font-style: normal;
		font-size: 20px;
	}
}
