:root {
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

.content-width {
	display: grid;
	background: lightgreen;
	max-width: var(--max-width);
	margin: auto;
	&__wrapper {
		@media (min-width: 1000px) {
		}
	}
}

.fancy-text {
	border: 3px solid red;
	text-align: center;
	&__subheading {
		font-weight: 600;
		font-style: normal;
		font-size: 20px;
	}
}

.template {
	// margin-block: 3rem;
	// border: 3px solid red;
	display: grid;
	grid-gap: 1rem;
	padding: 1rem;

	@media (min-width: 620px) {
		grid-template-areas:
			'header header header'
			'sidebar main main'
			'footer footer footer';
		grid-template-columns: minmax(100px, 250px) 3fr;
	}
}

.header {
	// border: 2px solid blue;
	display: grid;
	grid-gap: 1rem;
	justify-items: center;
	// padding: 1rem;
	@media (min-width: 460px) {
		grid-template-columns: min-content 1fr;
		grid-template-areas: 'heading logo' 'heading header-content';
		column-gap: 2rem;
	}
	@media (min-width: 620px) {
		grid-area: header;
		grid-template-columns: min-content auto;
		grid-template-areas: 'logo header-content';
		column-gap: 1.5rem;
	}
	&__heading {
		font-size: 2.5rem;
		text-align: center;
		@media (min-width: 460px) {
			grid-area: heading;
		}
		@media (min-width: 620px) {
			display: none;
		}
	}
	&__logo {
		@media (min-width: 460px) {
			grid-area: logo;
			justify-self: start;
		}
		@media (min-width: 620px) {
			justify-self: end;
		}
	}
	&__logo-image {
		border-radius: 20px;
	}
	&__content-container {
		font-size: 1.25rem;
		font-weight: bold;
		text-align: center;
		@media (min-width: 460px) {
			grid-area: header-content;
			align-self: center;
			text-align: left;
		}
		@media (min-width: 620px) {
			justify-self: start;
		}
	}
}

.sidebar {
	background: yellow;

	@media (min-width: 620px) {
		grid-area: sidebar;
	}
}

.main {
	// background: pink;
	display: grid;
	grid-gap: 1rem;
	background: lightgray;
	@media (min-width: 620px) {
		grid-area: main;
		// grid-template-areas: 'aside main-content';
		grid-template-rows: min-content auto;
		padding-left: 2rem;
	}
	@media (min-width: 994px) {
		grid-template-areas: 'main-content aside';
		// grid-template-columns: auto minmax(100px, 200px);
		grid-template-columns: minmax(200px, 800px) minmax(100px, 300px);
	}
	&__content {
		background: red;
		@media (min-width: 994px) {
			grid-area: main-content;
		}
	}
	&__sidebar {
		background: coral;
		@media (min-width: 994px) {
			grid-area: aside;
		}
	}
}

.footer {
	background: cyan;
	@media (min-width: 620px) {
		grid-area: footer;
	}
}

// .component1 {
// 	background: orange;
// }

// .component2 {
// 	background: lightcoral;
// }

// .component3 {
// 	background: orange;
// }

// .component4 {
// 	background: lightcoral;
// }
