:root {
	// --padding-inline-mobile: 1rem;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.content-width {
	background: yellow;
	// border: 3px solid red;
	padding-inline: var(--padding-inline-mobile);
	@media (min-width: 1000px) {
		display: grid;
		grid-template-areas: '. content .';
		grid-template-columns: 1fr minmax(0, 794px) 1fr;
		padding-inline: 0;
	}
	&__wrapper {
		background: cyan;
		@media (min-width: 1000px) {
			grid-area: content;
		}
	}
}

.fancy-text {
	&__subheading {
		font-weight: 600;
		font-style: normal;
		font-size: 20px;
	}
}
